@page
@model OOP_Project_20882069.Pages.DeleteCommodityModel
@{
    ViewData["Title"] = "Xoá loại hàng";
}
@if (Model.commodity != null)
{
    <h1 class="text-center hightlight">Xoá loại hàng</h1>
    <h3>Khi xoá loại hàng, các sản phẩm có <strong>mã loại hàng</strong> này sẽ bị xoá theo.</h3>
    <h3>Bạn có chắc chắn muốn xoá?</h3>
    <div>

        <hr />
        <div class="card bg-warning text-dark">
            <div class="card-header">
                <h4>Thông tin loại hàng</h4>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>Mã loại hàng: </strong>@Model.commodity.ComId</li>
                <li class="list-group-item"><strong>Tên loại hàng: </strong>@Model.commodity.ComName</li>
            </ul>
        </div>

        <form method="post" class="mt-3 mr-1">
            <input type="hidden" asp-for="commodity.ComId" />
            <input type="submit" value="Xoá sản phẩm" class="btn btn-danger" />
            <a class="btn btn-warning" role="button" asp-page="Index">Huỷ</a>
        </form>
    </div>
}
@if (!string.IsNullOrEmpty(Model.message))
{
    <div class="alert alert-warning">
        @Model.message
    </div>
}